## deepseek
DEEPSEEK_API_BASE=https://api.deepseek.com
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com

### langsmith
#LANGSMITH_API_KEY=
## 开启 trace
#LANGSMITH_TRACING=true
#LANGCHAIN_TRACING_V2=true
## 监控 webui 地址
#LANGSMITH_ENDPOINT=https://api.smith.langchain.com
## 项目名称
#LANGSMITH_PROJECT=langc-demo

## langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
